<h2>Оставить отзыв</h2>
<% @not_published_opinion = NotPublishedOpinion.new %>
<%= render 'admin/not_published_opinions/form', not_published_opinion: @not_published_opinion %>
<!-- this form can see guest -->