<% if @visible_part %><div class="photoreports-block  big-block"><div class="block">
	<h2>События</h2>
	<hr class="spec-hr">
	<div class="about-us-image-set"><% @event_list.each do |state| %>
		<a href = "/events/<%= state.eng_title %>" class = "album">
			<div class="album-bg">
				<% temp_icon = Photo.find_by(id: state.icon) %>
				<% if temp_icon.nil? %><%= $INE.html_safe %>	
				<% else %><p><%= image_tag temp_icon.avatar.url %></p>
				<% end  %>
			</div>
			<div class="album-title"><p><%= state.ru_title %></p><h4>подробнее</h4></div>
		</a>
	<% end %></div>
</div></div><% end %>
