@charset "UTF-8";
/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3 line, .c3 path {
  fill: none;
  stroke: #000;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-bars path, .c3-event-rect, .c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid {
  shape-rendering: crispEdges;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-chart-arc path {
  stroke: #fff;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-grid line {
  stroke: #aaa;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-grid text {
  fill: #aaa;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-text.c3-empty {
  fill: gray;
  font-size: 2em;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-line {
  stroke-width: 1px;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: #fff;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-selected-circle {
  fill: #fff;
  stroke-width: 2px;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-bar {
  stroke-width: 0;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-bar._expanded_ {
  fill-opacity: .75;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-target.c3-focused {
  opacity: 1;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-target.c3-defocused {
  opacity: 0.3 !important;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-region {
  fill: #4682b4;
  fill-opacity: .1;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-brush .extent {
  fill-opacity: .1;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-legend-item {
  font-size: 12px;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-legend-item-hidden {
  opacity: .15;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-legend-background {
  opacity: .75;
  fill: #fff;
  stroke: #d3d3d3;
  stroke-width: 1;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-title {
  font: 14px sans-serif;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-tooltip-container {
  z-index: 10;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777;
  -moz-box-shadow: 7px 7px 12px -9px #777;
  box-shadow: 7px 7px 12px -9px #777;
  opacity: .9;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-tooltip tr {
  border: 1px solid #CCC;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-tooltip td.value {
  text-align: right;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-area {
  stroke-width: 0;
  opacity: .2;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-chart-arcs .c3-chart-arcs-gauge-max, .c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777;
}

/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/c3.min.scss */
.c3-chart-arc .c3-gauge-value {
  fill: #000;
}
