@charset "UTF-8";
/* iCheck plugin Square skin, green
----------------------------------- */
/* line 4, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.icheckbox_square-green,
.iradio_square-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(green.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.icheckbox_square-green {
  background-position: 0 0;
}

/* line 21, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.icheckbox_square-green.hover {
  background-position: -24px 0;
}

/* line 24, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.icheckbox_square-green.checked {
  background-position: -48px 0;
}

/* line 27, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.icheckbox_square-green.disabled {
  background-position: -72px 0;
  cursor: default;
}

/* line 31, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.icheckbox_square-green.checked.disabled {
  background-position: -96px 0;
}

/* line 35, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.iradio_square-green {
  background-position: -120px 0;
}

/* line 38, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.iradio_square-green.hover {
  background-position: -144px 0;
}

/* line 41, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.iradio_square-green.checked {
  background-position: -168px 0;
}

/* line 44, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.iradio_square-green.disabled {
  background-position: -192px 0;
  cursor: default;
}

/* line 48, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
.iradio_square-green.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 54, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/custom_check.scss */
  .icheckbox_square-green,
  .iradio_square-green {
    background-image: url(green@2x.png);
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}
