@charset "UTF-8";
/* --- Basics --- */
/* line 4, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}

/* line 13, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
}

/* --- Types --- */
/* default loading is ellip */
/* line 22, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading::after {
  content: "\A.\A..\A...";
  animation: spin4 2s steps(4) infinite;
}

/* line 27, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.line::after {
  content: "/\A–\A\\\A|";
  text-align: center;
  animation: spin4 1s steps(4) infinite;
}

/* line 33, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.line2::after {
  content: "╲\A│\A╱\A─";
  text-align: center;
  animation: spin4 1s steps(4) infinite;
}

/* line 39, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.plus::after {
  content: "┽\A╀\A┾\A╁";
  animation: spin4 1s steps(4) infinite;
}

/* line 44, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.dots::after {
  content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏";
  animation: spin10 1s steps(10) infinite;
}

/* line 49, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.dots2::after {
  content: "⠋\A⠙\A⠚\A⠞\A⠖\A⠦\A⠴\A⠲\A⠳";
  animation: spin9 1s steps(9) infinite;
}

/* line 54, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.dots3::after {
  content: "⋮\A⋰\A⋯\A⋱";
  text-align: center;
  animation: spin4 1s steps(4) infinite;
}

/* line 60, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.lifting::after {
  content: "꜈꜍\A꜉꜎\A꜊꜏\A꜋꜐\A꜌꜑";
  animation: spin5 0.5s steps(5) infinite alternate;
}

/* line 65, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.hamburger::after {
  content: "☱\A☲\A☴";
  animation: spin3 0.3s steps(3) infinite alternate;
}

/* line 70, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.bar::after {
  content: "▏\A▎\A▍\A▌\A▋\A▊\A▉";
  animation: spin7 1s steps(7) infinite alternate;
}

/* line 75, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.bar2::after {
  content: "▁\A▂\A▃\A▄\A▅\A▆\A▇\A█";
  animation: spin8 2s steps(8) infinite alternate;
}

/* line 80, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.circle::after {
  content: "◴\A◷\A◶\A◵";
  animation: spin4 1s steps(4) infinite;
}

/* line 85, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.open-circle::after {
  content: "◜\A◠\A◝\A◞\A◡\A◟";
  animation: spin6 0.6s steps(6) infinite;
}

/* line 90, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.arrow::after {
  content: "←\A↖\A↑\A↗\A→\A↘\A↓\A↙";
  animation: spin8 1s steps(8) infinite;
}

/* line 95, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.triangle::after {
  content: "◢\A◣\A◤\A◥";
  animation: spin4 1s steps(4) infinite;
}

/* line 100, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.triangles::after {
  content: "▹▹▹▹▹\A ▸▹▹▹▹\A ▹▸▹▹▹\A ▹▹▸▹▹\A ▹▹▹▸▹\A ▹▹▹▹▸";
  animation: spin6 1s steps(6) infinite;
}

/* line 105, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.beam::after {
  content: "\A=   \A ==  \A === \A ====\A  ===\A   ==\A    =\A";
  animation: spin9 1.2s steps(9) infinite;
  font-family: monospace;
}

/* line 111, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.bullet::after {
  content: " ●    \A   ●   \A    ●  \A     ● \A      ●\A     ● \A    ●  \A   ●   \A  ●    \A ●     ";
  animation: spin10 1s steps(10) infinite;
}

/* line 116, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.bullseye::after {
  content: "◎◎◎\A◉◎◎\A◎◉◎\A◎◎◉";
  animation: spin4 1s steps(4) infinite;
}

/* line 121, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.rhomb::after {
  content: "◇◇◇\A◈◇◇\A◇◈◇\A◇◇◈";
  animation: spin4 1s steps(4) infinite;
}

/* line 126, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.fish::after {
  content: ">))'>\A  >))'>\A   >))'>\A    >))'>\A     >))'>\A     <'((<\A    <'((<\A   <'((<\A  <'((<\A <'((<\A";
  animation: spin10 5s steps(10) infinite;
}

/* line 131, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.toggle::after {
  content: "⊶\A⊷";
  animation: spin2 1s steps(2) infinite;
}

/* line 136, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.countdown::after {
  content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";
  animation: spin10 10s steps(10) reverse;
}

/* line 141, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.time::after {
  content: "🕐\A🕑\A🕒\A🕓\A🕔\A🕕\A🕖\A🕗\A🕘\A🕙\A🕚\A🕛";
  animation: spin12 3s steps(12) infinite;
  width: 1.3em;
}

/* line 147, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.hearts::after {
  content: "💛\A💙\A💜\A💚";
  animation: spin4 2s steps(4) infinite;
  width: 1.3em;
}

/* line 153, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.earth::after {
  content: "🌍\A🌎\A🌏";
  animation: spin3 1s steps(3) infinite;
  width: 1.3em;
}

/* line 159, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.moon::after {
  content: "🌑\A🌒\A🌓\A🌔\A🌕\A🌖\A🌗\A🌘";
  animation: spin8 2s steps(8) infinite;
  width: 1.3em;
}

/* line 165, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.monkey::after {
  content: "🙈\A🙉\A🙊";
  animation: spin3 1.5s steps(3) infinite;
  width: 1.3em;
}

/* line 171, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.runner::after {
  content: "🚶\A🏃";
  animation: spin2 1s steps(2) infinite;
  width: 1.3em;
}

/* line 177, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.box-bounce::after {
  content: "▖\A▘\A▝\A▗";
  animation: spin4 1s steps(4) infinite;
}

/* line 182, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.star::after {
  content: "✶\A✸\A✹\A✺\A✹\A✷";
  animation: spin6 1s steps(6) infinite;
}

/* line 187, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/spinners.scss */
.loading.words::after {
  content: "Loading\A Still loading\A Mostly done\A A bit more \A Almost done\A Ready-ish";
  animation: spin6 12s steps(6) infinite;
}

/* --- Animations --- */
@keyframes spin1 {
  to {
    transform: translateY(-1.5em);
  }
}
@keyframes spin2 {
  to {
    transform: translateY(-3em);
  }
}
@keyframes spin3 {
  to {
    transform: translateY(-4.5em);
  }
}
@keyframes spin4 {
  to {
    transform: translateY(-6em);
  }
}
@keyframes spin5 {
  to {
    transform: translateY(-7.5em);
  }
}
@keyframes spin6 {
  to {
    transform: translateY(-9em);
  }
}
@keyframes spin7 {
  to {
    transform: translateY(-10.5em);
  }
}
@keyframes spin8 {
  to {
    transform: translateY(-12em);
  }
}
@keyframes spin9 {
  to {
    transform: translateY(-13.5em);
  }
}
@keyframes spin10 {
  to {
    transform: translateY(-15em);
  }
}
@keyframes spin11 {
  to {
    transform: translateY(-16.5em);
  }
}
@keyframes spin12 {
  to {
    transform: translateY(-18em);
  }
}
