<!DOCTYPE html>
<html>
  <head><meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /></head>
  <body>
    <h1>Добро пожаловать в White Park, <%= @user.name %></h1>
    <p>Вы успешно зарегистрировались на сайте White_Park.ru,<br>
    ваш ник: <%= @user.login %>.<br></p>
    <p>Чтобы войти кликните по ссылке: <%= @url %></p>
    <p>Спасибо за регистрацию и хорошего дня!</p>
  </body>
</html>