@charset "UTF-8";
/* Ion.RangeSlider, Nice Skin
// css version 1.8.5
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/
/* =====================================================================================================================
// Skin details */
/* line 10, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
  background: url("sprite-skin-nice.png") repeat-x;
}

/* line 18, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs {
  height: 40px;
}

/* line 21, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-with-grid {
  height: 60px;
}

/* line 24, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-line {
  height: 8px;
  top: 25px;
}

/* line 27, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-line-left {
  height: 8px;
  background-position: 0 -30px;
}

/* line 31, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-line-mid {
  height: 8px;
  background-position: 0 0;
}

/* line 35, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-line-right {
  height: 8px;
  background-position: 100% -30px;
}

/* line 40, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-diapason {
  height: 8px;
  top: 25px;
  background-position: 0 -60px;
}

/* line 45, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-slider {
  width: 22px;
  height: 22px;
  top: 17px;
  background-position: 0 -90px;
}

/* line 50, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
#irs-active-slider, .irs-slider:hover {
  background-position: 0 -120px;
}

/* line 54, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-min, .irs-max {
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 3px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

/* line 62, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
  background: #ccc;
}

/* line 66, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-from, .irs-to, .irs-single {
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* line 74, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
  background: #999;
}

/* line 78, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-grid-pol {
  background: #99a4ac;
}

/* line 81, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/ionRangeSlider/ion.rangeSlider.skinNice.scss */
.irs-grid-text {
  color: #99a4ac;
}
