@charset "UTF-8";
/* line 3, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

/* line 12, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
html, body {
  height: 100%;
}

/* line 16, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
  height: 100%;
}

/* line 21, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
#page-wrapper {
  min-height: auto;
}

/* line 25, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.boxed-layout {
  background: url("shattered.png");
}

/* line 29, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.boxed-layout #wrapper {
  background-color: #2f4050;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

/* line 38, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.top-navigation.boxed-layout #wrapper,
.boxed-layout #wrapper.top-navigation {
  max-width: 1300px !important;
}

/* line 43, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.block {
  display: block;
}

/* line 47, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.clear {
  display: block;
  overflow: hidden;
}

/* line 52, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
a {
  cursor: pointer;
}

/* line 56, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 60, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}

/* line 64, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.font-bold {
  font-weight: 600;
}

/* line 68, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.font-normal {
  font-weight: 400;
}

/* line 72, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 76, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.font-italic {
  font-style: italic;
}

/* line 80, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.b-r {
  border-right: 1px solid #e7eaec;
}

/* line 84, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

/* line 92, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.hr-line-solid {
  border-bottom: 1px solid #e7eaec;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 100, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
video {
  width: 100% !important;
  height: auto !important;
}

/* GALLERY */
/* line 106, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.gallery > .row > div {
  margin-bottom: 15px;
}

/* line 110, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.fancybox img {
  margin-bottom: 5px;
  /* Only for demo */
  width: 24%;
}

/* Summernote text editor  */
/* line 117, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.note-editor {
  height: auto !important;
}

/* line 121, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.note-editor.fullscreen {
  z-index: 2050;
}

/* line 124, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.note-editor.note-frame.fullscreen {
  z-index: 2020;
}

/* line 126, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.note-editor.note-frame .note-editing-area .note-editable {
  color: #676a6c;
  padding: 15px;
}

/* line 131, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.note-editor.note-frame {
  border: none;
}

/* line 135, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.note-editor.panel {
  margin-bottom: 0;
}

/* MODAL */
/* line 140, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}

/* line 150, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.modal-dialog {
  z-index: 2200;
}

/* line 154, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.modal-body {
  padding: 20px 30px 30px 30px;
}

/* line 158, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.inmodal .modal-body {
  background: #f8fafb;
}

/* line 162, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}

/* line 167, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* line 174, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.inmodal .modal-title {
  font-size: 26px;
}

/* line 178, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}

/* line 183, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.modal-footer {
  margin-top: 0;
}

/* WRAPPERS */
/* line 189, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
#wrapper {
  width: 100%;
  overflow-x: hidden;
}

/* line 194, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.wrapper {
  padding: 0 20px;
}

/* line 198, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.wrapper-content {
  padding: 20px 10px 40px;
}

/* line 202, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}

@media (min-width: 768px) {
  /* line 209, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
}
/* line 216, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.title-action {
  text-align: right;
  padding-top: 30px;
}

/* line 221, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5,
.ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
  margin-top: 5px;
}

/* line 226, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
ul.unstyled, ol.unstyled {
  list-style: none outside none;
  margin-left: 0;
}

/* line 231, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.big-icon {
  font-size: 160px !important;
  color: #e5e6e7;
}

/* FOOTER */
/* line 238, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

/* line 249, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.footer.fixed_full {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
}

/* line 260, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
  margin-left: 220px;
}

/* line 272, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 70px;
}

/* line 277, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.mini-navbar.canvas-menu .footer.fixed,
body.canvas-menu .footer.fixed {
  margin: 0 !important;
}

/* line 282, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.fixed-sidebar.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 220px;
}

/* line 286, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.body-small .footer.fixed {
  margin-left: 0;
}

/* PANELS */
/* line 292, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.page-heading {
  border-top: 0;
  padding: 0 10px 20px 10px;
}

/* line 297, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-heading h1, .panel-heading h2 {
  margin-bottom: 5px;
}

/* TABLES */
/* line 303, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.table-bordered {
  border: 1px solid #EBEBEB;
}

/* line 307, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}

/* line 312, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}

/* line 316, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}

/* line 321, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

/* PANELS */
/* line 330, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel.blank-panel {
  background: none;
  margin: 0;
}

/* line 335, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.blank-panel .panel-heading {
  padding-bottom: 0;
}

/* line 341, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.nav-tabs > li > a {
  color: #A7B1C2;
  font-weight: 600;
  padding: 10px 20px 10px 25px;
}

/* line 347, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #e6e6e6;
  color: #676a6c;
}

/* line 352, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ui-tab .tab-content {
  padding: 20px 0;
}

/* GLOBAL  */
/* line 358, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.no-padding {
  padding: 0 !important;
}

/* line 362, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.no-borders {
  border: none !important;
}

/* line 366, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.no-margins {
  margin: 0 !important;
}

/* line 370, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.no-top-border {
  border-top: 0 !important;
}

/* line 374, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-content.text-box {
  padding-bottom: 0;
  padding-top: 15px;
}

/* line 379, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-left-right {
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
}

/* line 384, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-top-bottom {
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}

/* line 389, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-left {
  border-left: 1px solid #e7eaec;
}

/* line 393, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-right {
  border-right: 1px solid #e7eaec;
}

/* line 397, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-top {
  border-top: 1px solid #e7eaec;
}

/* line 401, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-bottom {
  border-bottom: 1px solid #e7eaec;
}

/* line 405, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-size-sm {
  border-width: 3px;
}

/* line 409, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-size-md {
  border-width: 6px;
}

/* line 413, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-size-lg {
  border-width: 9px;
}

/* line 417, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.border-size-xl {
  border-width: 12px;
}

/* line 421, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.full-width {
  width: 100% !important;
}

/* line 425, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.link-block {
  font-size: 12px;
  padding: 10px;
}

/* line 430, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.nav.navbar-top-links .link-block a {
  font-size: 12px;
}

/* line 434, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.link-block a {
  font-size: 10px;
  color: inherit;
}

/* line 440, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.mini-navbar .branding {
  display: none;
}

/* line 444, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
img.circle-border {
  border: 6px solid #FFFFFF;
  border-radius: 50%;
}

/* line 449, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.branding {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  background-color: #1ab394;
}

/* line 459, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.login-panel {
  margin-top: 25%;
}

/* line 463, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.icons-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 468, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.icons-box .infont a i {
  font-size: 25px;
  display: block;
  color: #676a6c;
}

/* line 474, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.icons-box .infont a {
  color: #a6a8a9;
}

/* line 478, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.icons-box .infont a {
  padding: 10px;
  margin: 1px;
  display: block;
}

/* line 485, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ui-draggable .ibox-title {
  cursor: move;
}

/* line 489, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}

/* line 495, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.breadcrumb > li a {
  color: inherit;
}

/* line 499, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.breadcrumb > .active {
  color: inherit;
}

/* line 503, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}

/* line 512, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

/* line 519, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox.collapsed .ibox-content {
  display: none;
}

/* line 523, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

/* line 527, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

/* line 531, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox:after, .ibox:before {
  display: table;
}

/* line 535, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}

/* line 551, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

/* line 562, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

/* line 570, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
table.table-mail tr td {
  padding: 12px;
}

/* line 574, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.table-mail .check-mail {
  padding-left: 20px;
}

/* line 578, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.table-mail .mail-date {
  padding-right: 20px;
}

/* line 582, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.star-mail, .check-mail {
  width: 40px;
}

/* line 586, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.unread td a, .unread td {
  font-weight: 600;
  color: inherit;
}

/* line 591, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.read td a, .read td {
  font-weight: normal;
  color: inherit;
}

/* line 596, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.unread td {
  background-color: #f9f8f8;
}

/* line 600, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-content {
  clear: both;
}

/* line 604, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}

/* line 609, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}

/* line 614, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

/* line 623, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-title .label {
  float: left;
  margin-left: 4px;
}

/* line 628, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

/* line 637, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}

/* line 643, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-tools a.btn-primary {
  color: #fff;
}

/* line 647, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
}

/* line 652, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox .ibox-tools.open > .dropdown-menu {
  left: auto;
  right: 0;
}

/* BACKGROUNDS */
/* line 660, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.gray-bg, .bg-muted {
  background-color: #f3f3f4;
}

/* line 664, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.white-bg {
  background-color: #ffffff;
}

/* line 668, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.blue-bg, .bg-success {
  background-color: #1c84c6;
  color: #ffffff;
}

/* line 673, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.navy-bg, .bg-primary {
  background-color: #1ab394;
  color: #ffffff;
}

/* line 678, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.lazur-bg, .bg-info {
  background-color: #23c6c8;
  color: #ffffff;
}

/* line 683, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.yellow-bg, .bg-warning {
  background-color: #f8ac59;
  color: #ffffff;
}

/* line 688, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.red-bg, .bg-danger {
  background-color: #ED5565;
  color: #ffffff;
}

/* line 693, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.black-bg {
  background-color: #262626;
}

/* line 697, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-primary {
  border-color: #1ab394;
}

/* line 701, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-primary > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394;
}

/* line 706, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-success {
  border-color: #1c84c6;
}

/* line 710, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-success > .panel-heading {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #ffffff;
}

/* line 716, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-info {
  border-color: #23c6c8;
}

/* line 720, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-info > .panel-heading {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #ffffff;
}

/* line 726, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-warning {
  border-color: #f8ac59;
}

/* line 730, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-warning > .panel-heading {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #ffffff;
}

/* line 736, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-danger {
  border-color: #ED5565;
}

/* line 740, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-danger > .panel-heading {
  background-color: #ED5565;
  border-color: #ED5565;
  color: #ffffff;
}

/* line 746, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-bar {
  background-color: #1ab394;
}

/* line 750, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-small, .progress-small .progress-bar {
  height: 10px;
}

/* line 754, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-small, .progress-mini {
  margin-top: 5px;
}

/* line 758, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-mini, .progress-mini .progress-bar {
  height: 5px;
  margin-bottom: 0;
}

/* line 763, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-bar-navy-light {
  background-color: #3dc7ab;
}

/* line 767, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-bar-success {
  background-color: #1c84c6;
}

/* line 771, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-bar-info {
  background-color: #23c6c8;
}

/* line 775, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-bar-warning {
  background-color: #f8ac59;
}

/* line 779, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.progress-bar-danger {
  background-color: #ED5565;
}

/* line 783, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.panel-title {
  font-size: inherit;
}

/* line 787, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.jumbotron {
  border-radius: 6px;
  padding: 40px;
}

/* line 792, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.jumbotron h1 {
  margin-top: 0;
}

/* COLORS */
/* line 798, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-navy {
  color: #1ab394;
}

/* line 802, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-primary {
  color: inherit;
}

/* line 806, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-success {
  color: #1c84c6;
}

/* line 810, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-info {
  color: #23c6c8;
}

/* line 814, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-warning {
  color: #f8ac59;
}

/* line 818, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-danger {
  color: #ED5565;
}

/* line 822, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-muted {
  color: #888888;
}

/* line 826, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.text-white {
  color: #ffffff;
}

/* line 830, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.simple_tag {
  background-color: #f3f3f4;
  border: 1px solid #e7eaec;
  border-radius: 2px;
  color: inherit;
  font-size: 10px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 12px;
  display: inline-block;
}

/* line 842, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.img-shadow {
  -webkit-box-shadow: 0 0 3px 0 #919191;
  -moz-box-shadow: 0 0 3px 0 #919191;
  box-shadow: 0 0 3px 0 #919191;
}

/* For handle diferent bg color in AngularJS version */
/* line 849, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.dashboards\.dashboard_2 nav.navbar,
.dashboards\.dashboard_3 nav.navbar,
.mailbox\.inbox nav.navbar,
.mailbox\.email_view nav.navbar,
.mailbox\.email_compose nav.navbar,
.dashboards\.dashboard_4_1 nav.navbar,
.metrics nav.navbar, .metrics\.index nav.navbar,
.dashboards\.dashboard_5 nav.navbar {
  background: #fff;
}

/* For handle diferent bg color in MVC version */
/* line 861, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.Dashboard_2 .navbar.navbar-static-top,
.Dashboard_3 .navbar.navbar-static-top,
.Dashboard_4_1 .navbar.navbar-static-top,
.ComposeEmail .navbar.navbar-static-top,
.EmailView .navbar.navbar-static-top,
.Inbox .navbar.navbar-static-top,
.Metrics .navbar.navbar-static-top,
.Dashboard_5 .navbar.navbar-static-top {
  background: #fff;
}

/* line 872, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
a.close-canvas-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1011;
  color: #a7b1c2;
}

/* line 880, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
a.close-canvas-menu:hover {
  color: #fff;
}

/* line 884, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.close-canvas-menu {
  display: none;
}

/* line 888, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.canvas-menu .close-canvas-menu {
  display: block;
}

/* line 892, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.light-navbar .navbar.navbar-static-top {
  background-color: #fff;
}

/* FULL HEIGHT */
/* line 898, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.full-height {
  height: 100%;
}

/* line 902, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.fh-breadcrumb {
  height: calc(100% - 196px);
  margin: 0 -15px;
  position: relative;
}

/* line 908, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.fh-no-breadcrumb {
  height: calc(100% - 99px);
  margin: 0 -15px;
  position: relative;
}

/* line 914, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.fh-column {
  background: #fff;
  height: 100%;
  width: 240px;
  float: left;
}

/* line 921, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.modal-backdrop {
  z-index: 2040 !important;
}

/* line 925, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.modal {
  z-index: 2050 !important;
}

/* line 929, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.spiner-example {
  height: 200px;
  padding-top: 70px;
}

/* MARGINS & PADDINGS */
/* line 936, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-xxs {
  padding: 5px;
}

/* line 940, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-xs {
  padding: 10px;
}

/* line 944, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-sm {
  padding: 15px;
}

/* line 948, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-m {
  padding: 20px;
}

/* line 952, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-md {
  padding: 25px;
}

/* line 956, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-lg {
  padding: 30px;
}

/* line 960, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-xl {
  padding: 40px;
}

/* line 964, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-w-xs {
  padding: 0 10px;
}

/* line 968, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-w-sm {
  padding: 0 15px;
}

/* line 973, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-w-m {
  padding: 0 20px;
}

/* line 978, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-w-md {
  padding: 0 25px;
}

/* line 983, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-w-lg {
  padding: 0 30px;
}

/* line 988, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-w-xl {
  padding: 0 40px;
}

/* line 992, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-h-xs {
  padding: 10px 0;
}

/* line 996, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-h-sm {
  padding: 15px 0;
}

/* line 1001, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-h-m {
  padding: 20px 0;
}

/* line 1006, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-h-md {
  padding: 25px 0;
}

/* line 1011, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-h-lg {
  padding: 30px 0;
}

/* line 1016, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.p-h-xl {
  padding: 40px 0;
}

/* line 1022, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-xxs {
  margin: 2px 4px;
}

/* line 1026, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m {
  margin: 15px;
}

/* line 1030, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-xs {
  margin: 5px;
}

/* line 1034, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-sm {
  margin: 10px;
}

/* line 1038, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m {
  margin: 15px;
}

/* line 1042, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-md {
  margin: 20px;
}

/* line 1046, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-lg {
  margin: 30px;
}

/* line 1050, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-xl {
  margin: 50px;
}

/* line 1054, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-n {
  margin: 0 !important;
}

/* line 1058, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-none {
  margin-left: 0;
}

/* line 1062, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-xs {
  margin-left: 5px;
}

/* line 1066, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-sm {
  margin-left: 10px;
}

/* line 1070, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l {
  margin-left: 15px;
}

/* line 1074, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-md {
  margin-left: 20px;
}

/* line 1078, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-lg {
  margin-left: 30px;
}

/* line 1082, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-xl {
  margin-left: 40px;
}

/* line 1086, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-n-xxs {
  margin-left: -1px;
}

/* line 1090, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-n-xs {
  margin-left: -5px;
}

/* line 1094, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-n-sm {
  margin-left: -10px;
}

/* line 1098, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-n {
  margin-left: -15px;
}

/* line 1102, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-n-md {
  margin-left: -20px;
}

/* line 1106, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-n-lg {
  margin-left: -30px;
}

/* line 1110, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-l-n-xl {
  margin-left: -40px;
}

/* line 1114, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-none {
  margin-top: 0;
}

/* line 1118, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-xxs {
  margin-top: 1px;
}

/* line 1122, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-xs {
  margin-top: 5px;
}

/* line 1126, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-sm {
  margin-top: 10px;
}

/* line 1130, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t {
  margin-top: 15px;
}

/* line 1134, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-md {
  margin-top: 20px;
}

/* line 1138, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-lg {
  margin-top: 30px;
}

/* line 1142, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-xl {
  margin-top: 40px;
}

/* line 1146, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-n-xxs {
  margin-top: -1px;
}

/* line 1150, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-n-xs {
  margin-top: -5px;
}

/* line 1154, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-n-sm {
  margin-top: -10px;
}

/* line 1158, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-n {
  margin-top: -15px;
}

/* line 1162, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-n-md {
  margin-top: -20px;
}

/* line 1166, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-n-lg {
  margin-top: -30px;
}

/* line 1170, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-t-n-xl {
  margin-top: -40px;
}

/* line 1174, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-none {
  margin-right: 0;
}

/* line 1178, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-xxs {
  margin-right: 1px;
}

/* line 1182, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-xs {
  margin-right: 5px;
}

/* line 1186, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-sm {
  margin-right: 10px;
}

/* line 1190, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r {
  margin-right: 15px;
}

/* line 1194, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-md {
  margin-right: 20px;
}

/* line 1198, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-lg {
  margin-right: 30px;
}

/* line 1202, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-xl {
  margin-right: 40px;
}

/* line 1206, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-n-xxs {
  margin-right: -1px;
}

/* line 1210, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-n-xs {
  margin-right: -5px;
}

/* line 1214, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-n-sm {
  margin-right: -10px;
}

/* line 1218, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-n {
  margin-right: -15px;
}

/* line 1222, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-n-md {
  margin-right: -20px;
}

/* line 1226, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-n-lg {
  margin-right: -30px;
}

/* line 1230, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-r-n-xl {
  margin-right: -40px;
}

/* line 1234, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-none {
  margin-bottom: 0;
}

/* line 1238, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-xxs {
  margin-bottom: 1px;
}

/* line 1242, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-xs {
  margin-bottom: 5px;
}

/* line 1246, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-sm {
  margin-bottom: 10px;
}

/* line 1250, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b {
  margin-bottom: 15px;
}

/* line 1254, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-md {
  margin-bottom: 20px;
}

/* line 1258, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-lg {
  margin-bottom: 30px;
}

/* line 1262, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-xl {
  margin-bottom: 40px;
}

/* line 1266, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-n-xxs {
  margin-bottom: -1px;
}

/* line 1270, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-n-xs {
  margin-bottom: -5px;
}

/* line 1274, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-n-sm {
  margin-bottom: -10px;
}

/* line 1278, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-n {
  margin-bottom: -15px;
}

/* line 1282, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-n-md {
  margin-bottom: -20px;
}

/* line 1286, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-n-lg {
  margin-bottom: -30px;
}

/* line 1290, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.m-b-n-xl {
  margin-bottom: -40px;
}

/* line 1294, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.space-15 {
  margin: 15px 0;
}

/* line 1298, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.space-20 {
  margin: 20px 0;
}

/* line 1302, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.space-25 {
  margin: 25px 0;
}

/* line 1306, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.space-30 {
  margin: 30px 0;
}

/* line 1313, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.img-sm {
  width: 32px;
  height: 32px;
}

/* line 1318, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.img-md {
  width: 64px;
  height: 64px;
}

/* line 1323, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.img-lg {
  width: 96px;
  height: 96px;
}

/* line 1330, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.b-r-xs {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 1336, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.b-r-sm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 1342, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.b-r-md {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 1348, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.b-r-lg {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/* line 1354, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.b-r-xl {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

/* line 1362, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.fullscreen-ibox-mode .animated {
  animation: none;
}

/* line 1366, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.fullscreen-ibox-mode {
  overflow-y: hidden;
}

/* line 1370, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox.fullscreen {
  z-index: 2030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin-bottom: 0;
}

/* line 1381, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox.fullscreen .collapse-link {
  display: none;
}

/* line 1385, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.ibox.fullscreen .ibox-content {
  min-height: calc(100% - 48px);
}

/* line 1391, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.modal-open {
  padding-right: inherit !important;
}

/* line 1397, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.modal-open .wrapper-content.animated {
  -webkit-animation: none;
  -ms-animation-nam: none;
  animation: none;
}

/* line 1404, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.modal-open .animated {
  animation-fill-mode: initial;
  z-index: inherit;
}

/* Show profile dropdown on fixed sidebar */
/* line 1410, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.mini-navbar.fixed-sidebar .profile-element, .block {
  display: block !important;
}

/* line 1414, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.mini-navbar.fixed-sidebar .nav-header {
  padding: 33px 25px;
}

/* line 1418, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
body.mini-navbar.fixed-sidebar .logo-element {
  display: none;
}

/* line 1424, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/base.scss */
.fullscreen-video .animated {
  animation: none;
}
