@charset "UTF-8";
/* SEARCH PAGE */
/* line 6, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.search-form {
  margin-top: 10px;
}

/* line 10, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.search-result h3 {
  margin-bottom: 0;
  color: #1E0FBE;
}

/* line 15, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.search-result .search-link {
  color: #006621;
}

/* line 19, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.search-result p {
  font-size: 12px;
  margin-top: 5px;
}

/* CONTACTS */
/* line 26, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 33, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-box > a {
  color: inherit;
}

/* line 37, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}

/* line 43, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* line 50, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 57, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version address {
  margin-bottom: 0;
}

/* line 61, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}

/* INVOICE */
/* line 70, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.invoice-table tbody > tr > td:last-child, .invoice-table tbody > tr > td:nth-child(4), .invoice-table tbody > tr > td:nth-child(3), .invoice-table tbody > tr > td:nth-child(2) {
  text-align: right;
}

/* line 74, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.invoice-table thead > tr > th:last-child, .invoice-table thead > tr > th:nth-child(4), .invoice-table thead > tr > th:nth-child(3), .invoice-table thead > tr > th:nth-child(2) {
  text-align: right;
}

/* line 78, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.invoice-total > tbody > tr > td:first-child {
  text-align: right;
}

/* line 82, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.invoice-total > tbody > tr > td {
  border: 0 none;
}

/* line 86, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.invoice-total > tbody > tr > td:last-child {
  border-bottom: 1px solid #DDDDDD;
  text-align: right;
  width: 15%;
}

/* ERROR & LOGIN & LOCKSCREEN*/
/* line 94, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

/* line 101, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.lockscreen.middle-box {
  width: 200px;
  padding-top: 110px;
}

/* line 106, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.loginscreen.middle-box {
  width: 300px;
}

/* line 110, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.loginColumns {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

/* line 116, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.passwordBox {
  max-width: 460px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

/* line 122, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.logo-name {
  color: #e6e6e6;
  font-size: 180px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}

/* line 130, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.middle-box h1 {
  font-size: 170px;
}

/* line 134, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.wrapper .middle-box {
  margin-top: 140px;
}

/* line 138, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.lock-word {
  z-index: 10;
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -470px;
}

/* line 146, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.lock-word span {
  font-size: 100px;
  font-weight: 600;
  color: #e9e9e9;
  display: inline-block;
}

/* line 153, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.lock-word .first-word {
  margin-right: 160px;
}

/* DASBOARD */
/* line 159, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.dashboard-header {
  border-top: 0;
  padding: 20px 20px 20px 20px;
}

/* line 164, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.dashboard-header h2 {
  margin-top: 10px;
  font-size: 26px;
}

/* line 169, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.fist-item {
  border-top: none !important;
}

/* line 173, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.statistic-box {
  margin-top: 40px;
}

/* line 178, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.dashboard-header .list-group-item span.label {
  margin-right: 10px;
}

/* line 182, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.list-group.clear-list .list-group-item {
  border-top: 1px solid #e7eaec;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  padding: 10px 0;
}

/* line 190, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.clear-list:first-child {
  border-top: none !important;
}

/* Intimeline */
/* line 196, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.timeline-item .date i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  background: #f8f8f8;
}

/* line 209, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.timeline-item .date {
  text-align: right;
  width: 110px;
  position: relative;
  padding-top: 30px;
}

/* line 216, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.timeline-item .content {
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
  min-height: 100px;
}

/* line 223, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.timeline-item .content:hover {
  background: #f6f6f6;
}

/* PIN BOARD */
/* line 228, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li, ul.tag-list li {
  list-style: none;
}

/* line 232, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li h4 {
  margin-top: 20px;
  font-size: 16px;
}

/* line 237, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  position: relative;
}

/* line 248, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}

/* line 255, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: inherit;
}

/* line 262, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li {
  margin: 10px 40px 50px 0;
  float: left;
}

/* line 267, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div p {
  font-size: 12px;
}

/* line 271, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow: 5px 5px 2px #212121;
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 2px rgba(33, 33, 33, 0.7);
  /* Opera */
  box-shadow: 5px 5px 2px rgba(33, 33, 33, 0.7);
}

/* line 287, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
}

/* line 294, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li:nth-child(even) div {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

/* line 303, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li:nth-child(3n) div {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

/* line 312, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li:nth-child(5n) div {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

/* line 321, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div:hover, ul.notes li div:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  position: relative;
  z-index: 5;
}

/* line 331, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}

/* FILE MANAGER */
/* line 349, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-box {
  float: left;
  width: 220px;
}

/* line 354, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-manager h5 {
  text-transform: uppercase;
}

/* line 358, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-manager {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

/* line 364, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.folder-list li a {
  color: #666666;
  display: block;
  padding: 5px 0;
}

/* line 370, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.folder-list li {
  border-bottom: 1px solid #e7eaec;
  display: block;
}

/* line 375, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.folder-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}

/* line 380, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li a {
  color: #666666;
  display: block;
  padding: 5px 0;
}

/* line 386, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li {
  display: block;
}

/* line 390, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}

/* line 395, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-navy {
  color: #1ab394;
}

/* line 399, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-primary {
  color: #1c84c6;
}

/* line 403, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-info {
  color: #23c6c8;
}

/* line 407, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-danger {
  color: #EF5352;
}

/* line 411, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-warning {
  color: #F8AC59;
}

/* line 415, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-manager h5.tag-title {
  margin-top: 20px;
}

/* line 419, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.tag-list li {
  float: left;
}

/* line 423, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.tag-list li a {
  font-size: 10px;
  background-color: #f3f3f4;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

/* line 435, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file {
  border: 1px solid #e7eaec;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* line 444, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-manager .hr-line-dashed {
  margin: 15px 0;
}

/* line 448, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file .icon, .file .image {
  height: 100px;
  overflow: hidden;
}

/* line 453, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file .icon {
  padding: 15px 10px;
  text-align: center;
}

/* line 458, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-control {
  color: inherit;
  font-size: 11px;
  margin-right: 10px;
}

/* line 464, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-control.active {
  text-decoration: underline;
}

/* line 468, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file .icon i {
  font-size: 70px;
  color: #dadada;
}

/* line 473, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file .file-name {
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7eaec;
}

/* line 479, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-name small {
  color: #676a6c;
}

/* line 483, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.corner {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.6em solid transparent;
  border-right: 0.6em solid #f1f1f1;
  border-bottom: 0.6em solid #f1f1f1;
  right: 0em;
  bottom: 0em;
}

/* line 496, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
a.compose-mail {
  padding: 8px 10px;
}

/* line 500, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-search {
  max-width: 300px;
}

/* PROFILE */
/* line 506, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.profile-content {
  border-top: none !important;
}

/* line 510, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.profile-stats {
  margin-right: 10px;
}

/* line 514, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.profile-image {
  width: 120px;
  float: left;
}

/* line 519, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.profile-image img {
  width: 96px;
  height: 96px;
}

/* line 524, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.profile-info {
  margin-left: 120px;
}

/* line 528, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-activity-list .feed-element {
  border-bottom: 1px solid #e7eaec;
}

/* line 532, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element:first-child {
  margin-top: 0;
}

/* line 536, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element {
  padding-bottom: 15px;
}

/* line 540, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element, .feed-element .media {
  margin-top: 15px;
}

/* line 544, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element, .media-body {
  overflow: hidden;
}

/* line 548, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element > .pull-left {
  margin-right: 10px;
}

/* line 552, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
  width: 38px;
  height: 38px;
}

/* line 557, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element .well {
  border: 1px solid #e7eaec;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 11px;
  line-height: 16px;
}

/* line 567, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element .actions {
  margin-top: 10px;
}

/* line 571, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-element .photos {
  margin: 10px 0;
}

/* line 576, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.feed-photo {
  max-height: 180px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 584, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-list li {
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-bottom: 5px;
}

/* line 593, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-list li a {
  color: inherit;
}

/* line 597, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.file-list li a:hover {
  color: #1ab394;
}

/* line 601, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.user-friends img {
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* MAILBOX */
/* line 611, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  border-top: 0;
  padding: 0;
  margin-bottom: 20px;
}

/* line 619, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-box-header {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  border-bottom: 0;
  padding: 30px 20px 20px 20px;
}

/* line 626, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-box-header h2 {
  margin-top: 0;
}

/* line 630, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mailbox-content .tag-list li a {
  background: #ffffff;
}

/* line 634, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-body {
  border-top: 1px solid #e7eaec;
  padding: 20px;
}

/* line 639, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-text {
  border-top: 1px solid #e7eaec;
}

/* line 643, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-text .note-toolbar {
  padding: 10px 15px;
}

/* line 647, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-body .form-group {
  margin-bottom: 5px;
}

/* line 651, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-text .note-editor .note-toolbar {
  background-color: #F9F8F8;
}

/* line 655, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-attachment {
  border-top: 1px solid #e7eaec;
  padding: 20px;
  font-size: 12px;
}

/* line 661, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mailbox-content {
  background: none;
  border: none;
  padding: 10px;
}

/* line 667, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.mail-ontact {
  width: 23%;
}

/* PROJECTS */
/* line 672, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.project-people, .project-actions {
  text-align: right;
  vertical-align: middle;
}

/* line 677, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
dd.project-people {
  text-align: left;
  margin-top: 5px;
}

/* line 682, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.project-people img {
  width: 32px;
  height: 32px;
}

/* line 687, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.project-title a {
  font-size: 14px;
  color: #676a6c;
  font-weight: 600;
}

/* line 693, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.project-list table tr td {
  border-top: none;
  border-bottom: 1px solid #e7eaec;
  padding: 15px 10px;
  vertical-align: middle;
}

/* line 700, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.project-manager .tag-list li a {
  font-size: 10px;
  background-color: white;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

/* line 712, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.project-files li a {
  font-size: 11px;
  color: #676a6c;
  margin-left: 10px;
  line-height: 22px;
}

/* FAQ */
/* line 721, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.faq-item {
  padding: 20px;
  margin-bottom: 2px;
  background: #fff;
}

/* line 727, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: #1ab394;
  display: block;
}

/* line 734, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.faq-question:hover {
  color: #179d82;
}

/* line 738, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.faq-answer {
  margin-top: 10px;
  background: #f3f3f4;
  border: 1px solid #e7eaec;
  border-radius: 3px;
  padding: 15px;
}

/* line 746, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.faq-item .tag-item {
  background: #f3f3f4;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}

/* Chat view */
/* line 754, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.message-input {
  height: 90px !important;
}

/* line 758, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-avatar {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
}

/* line 765, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-user-name {
  padding: 10px;
}

/* line 769, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-user {
  padding: 8px 10px;
  border-bottom: 1px solid #e7eaec;
}

/* line 774, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-user a {
  color: inherit;
}

/* line 778, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-view {
  z-index: 20012;
}

/* line 782, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-users, .chat-statistic {
  margin-left: -30px;
}

@media (max-width: 992px) {
  /* line 787, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
  .chat-users, .chat-statistic {
    margin-left: 0;
  }
}
/* line 792, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-view .ibox-content {
  padding: 0;
}

/* line 796, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-message {
  padding: 10px 20px;
}

/* line 800, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  margin-top: 1px;
}

/* line 808, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}

/* line 813, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}

/* line 818, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.message {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}

/* line 828, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.left .message-date {
  float: right;
}

/* line 832, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.right .message-date {
  float: left;
}

/* line 836, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}

/* line 841, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}

/* line 846, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.message-date {
  font-size: 10px;
  color: #888888;
}

/* line 851, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.message-content {
  display: block;
}

/* line 855, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-discussion {
  background: #eee;
  padding: 15px;
  height: 400px;
  overflow-y: auto;
}

/* line 862, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-users {
  overflow-y: auto;
  height: 400px;
}

/* line 867, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.chat-message-form .form-group {
  margin-bottom: 0;
}

/* jsTree */
/* line 872, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.jstree-open > .jstree-anchor > .fa-folder:before {
  content: "\f07c";
}

/* line 876, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.jstree-default .jstree-icon.none {
  width: 0;
}

/* CLIENTS */
/* line 882, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.clients-list {
  margin-top: 20px;
}

/* line 886, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.clients-list .tab-pane {
  position: relative;
  height: 600px;
}

/* line 891, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-detail {
  position: relative;
  height: 620px;
}

/* line 896, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.clients-list table tr td {
  height: 46px;
  vertical-align: middle;
  border: none;
}

/* line 902, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-link {
  font-weight: 600;
  color: inherit;
}

/* line 907, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-link:hover {
  color: inherit;
}

/* line 911, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-avatar {
  width: 42px;
}

/* line 915, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

/* line 921, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.contact-type {
  width: 20px;
  color: #c1c3c4;
}

/* line 926, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-status {
  text-align: left;
}

/* line 930, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-detail .vertical-timeline-content p {
  margin: 0;
}

/* line 934, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.client-detail .vertical-timeline-icon.gray-bg {
  color: #a7aaab;
}

/* line 939, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.clients-list .nav-tabs > li.active > a, .clients-list .nav-tabs > li.active > a:hover, .clients-list .nav-tabs > li.active > a:focus {
  border-bottom: 1px solid #fff;
}

/* BLOG ARTICLE */
/* line 945, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.blog h2 {
  font-weight: 700;
}

/* line 949, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.blog h5 {
  margin: 0 0 5px 0;
}

/* line 953, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.blog .btn {
  margin: 0 0 5px 0;
}

/* line 957, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.article h1 {
  font-size: 48px;
  font-weight: 700;
  color: #2F4050;
}

/* line 963, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.article p {
  font-size: 15px;
  line-height: 26px;
}

/* line 968, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.article-title {
  text-align: center;
  margin: 40px 0 100px 0;
}

/* line 973, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.article .ibox-content {
  padding: 40px;
}

/* ISSUE TRACKER */
/* line 979, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.issue-tracker .btn-link {
  color: #1ab394;
}

/* line 983, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
table.issue-tracker tbody tr td {
  vertical-align: middle;
  height: 50px;
}

/* line 988, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.issue-info {
  width: 50%;
}

/* line 992, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.issue-info a {
  font-weight: 600;
  color: #676a6c;
}

/* line 997, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.issue-info small {
  display: block;
}

/* TEAMS */
/* line 1002, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.team-members {
  margin: 10px 0;
}

/* line 1006, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.team-members img.img-circle {
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
}

/* AGILE BOARD */
/* line 1014, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.sortable-list {
  padding: 10px 0;
}

/* line 1018, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-list {
  list-style: none;
  margin: 0;
}

/* line 1023, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 2px;
}

/* line 1032, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-list li:hover {
  cursor: pointer;
  background: #fff;
}

/* line 1037, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-list li.warning-element {
  border-left: 3px solid #f8ac59;
}

/* line 1041, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-list li.danger-element {
  border-left: 3px solid #ED5565;
}

/* line 1045, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}

/* line 1049, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-list li.success-element {
  border-left: 3px solid #1ab394;
}

/* line 1053, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.agile-detail {
  margin-top: 5px;
  font-size: 12px;
}

/* DIFF */
/* line 1059, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
ins {
  background-color: #c6ffc6;
  text-decoration: none;
}

/* line 1064, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
del {
  background-color: #ffc6c6;
}

/* E-commerce */
/* line 1069, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-box {
  padding: 0;
  border: 1px solid #e7eaec;
}

/* line 1075, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}

/* line 1083, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-imitation {
  text-align: center;
  padding: 90px 0;
  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;
}

/* line 1091, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}

/* line 1099, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-imitation.xl {
  padding: 120px 0;
}

/* line 1103, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-desc {
  padding: 20px;
  position: relative;
}

/* line 1108, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.ecommerce .tag-list {
  padding: 0;
}

/* line 1112, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.ecommerce .fa-star {
  color: #D1DADE;
}

/* line 1116, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.ecommerce .fa-star.active {
  color: #f8ac59;
}

/* line 1120, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}

/* line 1124, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
table.shoping-cart-table {
  margin-bottom: 0;
}
/* line 1127, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
/* line 1132, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
table.shoping-cart-table tr td.desc, table.shoping-cart-table tr td:first-child {
  text-align: left;
}
/* line 1136, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
table.shoping-cart-table tr td:last-child {
  width: 80px;
}

/* line 1142, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}

/* line 1150, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}

/* line 1155, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1ab394;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}

/* line 1167, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-detail .ibox-content {
  padding: 30px 30px 50px 30px;
}

/* line 1171, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: 200px 0;
}

/* line 1178, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-main-price small {
  font-size: 10px;
}

/* line 1183, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.product-images {
  margin: 0 20px;
}

/* Social feed */
/* line 1188, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-feed-box {
  margin-left: 62px;
}

/* line 1192, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-avatar {
  float: left;
  padding: 0;
}

/* line 1197, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-avatar img {
  width: 52px;
  height: 52px;
  border: 1px solid #e7eaec;
}

/* line 1203, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-feed-box .social-avatar {
  padding: 15px 15px 0 15px;
  float: none;
}

/* line 1208, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-feed-box {
  /*padding: 15px;*/
  border: 1px solid #e7eaec;
  background: #fff;
  margin-bottom: 15px;
}

/* line 1215, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.article .social-feed-box {
  margin-bottom: 0;
  border-bottom: none;
}

/* line 1220, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.article .social-feed-box:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #e7eaec;
}

/* line 1225, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.article .social-feed-box p {
  font-size: 13px;
  line-height: 18px;
}

/* line 1230, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-action {
  margin: 15px;
}

/* line 1234, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-avatar {
  padding: 15px 15px 0 15px;
}

/* line 1238, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-comment .social-comment {
  margin-left: 45px;
}

/* line 1242, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

/* line 1248, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-avatar .media-body a {
  font-size: 14px;
  display: block;
}

/* line 1253, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-body {
  padding: 15px;
}

/* line 1257, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-body img {
  margin-bottom: 10px;
}

/* line 1261, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-footer {
  border-top: 1px solid #e7eaec;
  padding: 10px 15px;
  background: #f9f9f9;
}

/* line 1267, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-footer .social-comment img {
  width: 32px;
  margin-right: 10px;
}

/* line 1272, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-comment:first-child {
  margin-top: 0;
}

/* line 1276, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-comment {
  margin-top: 15px;
}

/* line 1280, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.social-comment textarea {
  font-size: 12px;
}

/* Vote list */
/* line 1286, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-item {
  padding: 20px 25px;
  background: #ffffff;
  border-top: 1px solid #e7eaec;
}

/* line 1292, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-item:last-child {
  border-bottom: 1px solid #e7eaec;
}

/* line 1296, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-item:hover {
  background: #fbfbfb;
}

/* line 1300, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-actions {
  float: left;
  width: 30px;
  margin-right: 15px;
  text-align: center;
}

/* line 1308, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-actions a {
  color: #1ab394;
  font-weight: 600;
}

/* line 1313, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-actions {
  font-weight: 600;
}

/* line 1317, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-title {
  display: block;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 2px;
}

/* line 1326, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-title:hover, .vote-title:focus {
  color: inherit;
}

/* line 1330, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-info, .vote-title {
  margin-left: 45px;
}

/* line 1334, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-info, .vote-info a {
  color: #b4b6b8;
  font-size: 12px;
}

/* line 1339, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-info a {
  margin-right: 10px;
}

/* line 1343, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-info a:hover {
  color: #1ab394;
}

/* line 1347, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-icon {
  text-align: right;
  font-size: 38px;
  display: block;
  color: #e8e9ea;
}

/* line 1354, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.vote-icon.active {
  color: #1ab394;
}

/* line 1358, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
body.body-small .vote-icon {
  display: none;
}

/* line 1362, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.lightBoxGallery {
  text-align: center;
}

/* line 1366, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/pages.scss */
.lightBoxGallery img {
  margin: 5px;
}
