@charset "UTF-8";
/* line 5, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls {
  /* Theme config */
}
/* line 7, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls #page-wrapper {
  margin: 0 220px 0 0;
}
/* line 11, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .nav-second-level li a {
  padding: 7px 35px 7px 10px;
}
/* line 15, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .ibox-title h5 {
  float: right;
}
/* line 19, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .pull-right {
  float: left !important;
}
/* line 23, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .pull-left {
  float: right !important;
}
/* line 27, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .ibox-tools {
  float: left;
}
/* line 31, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .stat-percent {
  float: left;
}
/* line 35, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .navbar-right {
  float: left !important;
}
/* line 39, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .navbar-top-links li:last-child {
  margin-left: 40px;
  margin-right: 0;
}
/* line 44, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .minimalize-styl-2 {
  float: right;
  margin: 14px 20px 5px 5px;
}
/* line 49, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .feed-element > .pull-left {
  margin-left: 10px;
  margin-right: 0;
}
/* line 54, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .timeline-item .date {
  text-align: left;
}
/* line 58, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .timeline-item .date i {
  left: 0;
  right: auto;
}
/* line 63, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .timeline-item .content {
  border-right: 1px solid #e7eaec;
  border-left: none;
}
/* line 68, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .theme-config {
  left: 0;
  right: auto;
}
/* line 73, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .spin-icon {
  border-radius: 0 20px 20px 0;
}
/* line 77, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .toast-close-button {
  float: left;
}
/* line 81, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls #toast-container > .toast:before {
  margin: auto -1.5em auto 0.5em;
}
/* line 85, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls #toast-container > div {
  padding: 15px 50px 15px 15px;
}
/* line 89, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .center-orientation .vertical-timeline-icon i {
  margin-left: 0;
  margin-right: -12px;
}
/* line 94, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .vertical-timeline-icon i {
  right: 50%;
  left: auto;
  margin-left: auto;
  margin-right: -12px;
}
/* line 101, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .file-box {
  float: right;
}
/* line 105, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls ul.notes li {
  float: right;
}
/* line 109, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .chat-users, body.rtls .chat-statistic {
  margin-right: -30px;
  margin-left: auto;
}
/* line 114, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .dropdown-menu > li > a {
  text-align: right;
}
/* line 118, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .b-r {
  border-left: 1px solid #e7eaec;
  border-right: none;
}
/* line 123, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .dd-list .dd-list {
  padding-right: 30px;
  padding-left: 0;
}
/* line 128, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .dd-item > button {
  float: right;
}
/* line 133, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .theme-config-box {
  margin-left: -220px;
  margin-right: 0;
}
/* line 138, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .theme-config-box.show {
  margin-left: 0;
  margin-right: 0;
}
/* line 143, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .spin-icon {
  right: 0;
  left: auto;
}
/* line 148, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .skin-settings {
  margin-right: 40px;
  margin-left: 0;
}
/* line 153, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .skin-settings {
  direction: ltr;
}
/* line 157, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .footer.fixed {
  margin-right: 220px;
  margin-left: 0;
}

@media (max-width: 992px) {
  /* line 166, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
  body.rtls .chat-users, body.rtls .chat-statistic {
    margin-right: 0;
  }
}
/* line 172, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.mini-navbar .footer.fixed, body.body-small.mini-navbar .footer.fixed {
  margin: 0 70px 0 0;
}

/* line 176, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.mini-navbar.fixed-sidebar .footer.fixed, body.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 0;
}

/* line 180, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.top-navigation .navbar-toggle {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 186, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
.body-small.rtls.top-navigation .navbar-header {
  float: none;
}

/* line 190, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.top-navigation #page-wrapper {
  margin: 0;
}

/* line 194, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.mini-navbar #page-wrapper {
  margin: 0 70px 0 0;
}

/* line 198, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.mini-navbar.fixed-sidebar #page-wrapper {
  margin: 0 0 0 0;
}

/* line 202, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.body-small.fixed-sidebar.mini-navbar #page-wrapper {
  margin: 0 220px 0 0;
}

/* line 206, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
  width: 220px;
}

/* line 210, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
.body-small.rtls .navbar-fixed-top {
  margin-right: 0;
}

/* line 214, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
.body-small.rtls .navbar-header {
  float: right;
}

/* line 218, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .navbar-top-links li:last-child {
  margin-left: 20px;
}

/* line 222, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .top-navigation #page-wrapper, body.rtls.mini-navbar .top-navigation #page-wrapper, body.rtls.mini-navbar.top-navigation #page-wrapper {
  margin: 0;
}

/* line 226, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
body.rtls .top-navigation .footer.fixed, body.rtls.top-navigation .footer.fixed {
  margin: 0;
}

@media (max-width: 768px) {
  /* line 232, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
  body.rtls .navbar-top-links li:last-child {
    margin-left: 20px;
  }

  /* line 236, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
  .body-small.rtls #page-wrapper {
    position: inherit;
    margin: 0 0 0 0;
    min-height: 1000px;
  }

  /* line 242, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
  .body-small.rtls .navbar-static-side {
    display: none;
    z-index: 2001;
    position: absolute;
    width: 70px;
  }

  /* line 249, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
  .body-small.rtls.mini-navbar .navbar-static-side {
    display: block;
  }

  /* line 253, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
  .rtls.fixed-sidebar.body-small .navbar-static-side {
    display: none;
    z-index: 2001;
    position: fixed;
    width: 220px;
  }

  /* line 260, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
  .rtls.fixed-sidebar.body-small.mini-navbar .navbar-static-side {
    display: block;
  }
}
/* line 267, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
.rtls .ltr-support {
  direction: ltr;
}

/* line 271, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
.rtls.mini-navbar .nav-second-level, .rtls.mini-navbar li.active .nav-second-level {
  left: auto;
  right: 70px;
}

/* line 276, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
.rtls #right-sidebar {
  left: -260px;
  right: auto;
}

/* line 281, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/rtl.scss */
.rtls #right-sidebar.sidebar-open {
  left: 0;
}
