@charset "UTF-8";
/* line 4, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-panel {
  width: 220px;
  background: #ebebed;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

/* line 12, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-panel .feed-element img.img-circle {
  width: 32px;
  height: 32px;
}

/* line 17, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-panel .feed-element, .media-body, .sidebar-panel p {
  font-size: 12px;
}

/* line 21, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-panel .feed-element {
  margin-top: 20px;
  padding-bottom: 0;
}

/* line 26, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-panel .list-group {
  margin-bottom: 10px;
}

/* line 30, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-panel .list-group .list-group-item {
  padding: 5px 0;
  font-size: 12px;
  border: 0;
}

/* line 36, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-content .wrapper, .wrapper.sidebar-content {
  padding-right: 230px !important;
}

/* line 40, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.body-small .sidebar-content .wrapper, .body-small .wrapper.sidebar-content {
  padding-right: 20px !important;
}

/* line 46, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
#right-sidebar {
  background-color: #fff;
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 260px !important;
  z-index: 1009;
  bottom: 0;
  right: -260px;
}

/* line 59, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
#right-sidebar.sidebar-open {
  right: 0;
}

/* line 63, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
#right-sidebar.sidebar-open.sidebar-top {
  top: 0;
  border-top: none;
}

/* line 70, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.nav-tabs {
  border: none;
}
/* line 74, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.nav-tabs.navs-4 li {
  width: 25%;
}
/* line 77, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.nav-tabs.navs-3 li {
  width: 33.3333%;
}
/* line 80, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.nav-tabs.navs-2 li {
  width: 50%;
}
/* line 84, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.nav-tabs li {
  border: none;
}
/* line 88, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.nav-tabs li a {
  border: none;
  padding: 12px 10px;
  margin: 0;
  border-radius: 0;
  background: #2F4050;
  color: #fff;
  text-align: center;
  border-right: 1px solid #334556;
}
/* line 100, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.nav-tabs li.active a {
  border: none;
  background: #f9f9f9;
  color: #676a6c;
  font-weight: bold;
}
/* line 108, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .nav-tabs > li.active > a:hover,
.sidebar-container .nav-tabs > li.active > a:focus {
  border: none;
}
/* line 115, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.sidebar-list {
  margin: 0;
  padding: 0;
}
/* line 120, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.sidebar-list li {
  border-bottom: 1px solid #e7eaec;
  padding: 15px 20px;
  list-style: none;
  font-size: 12px;
}
/* line 132, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-message:nth-child(2n+2) {
  background: #f9f9f9;
}
/* line 136, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container ul.sidebar-list li a {
  text-decoration: none;
  color: inherit;
}
/* line 141, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-content {
  padding: 15px 20px;
  font-size: 12px;
}
/* line 150, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-title {
  background: #f9f9f9;
  padding: 20px;
  border-bottom: 1px solid #e7eaec;
}
/* line 155, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-title h3 {
  margin-bottom: 3px;
  padding-left: 2px;
}
/* line 163, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .tab-content h4 {
  margin-bottom: 5px;
}
/* line 169, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-message > a > .pull-left {
  margin-right: 10px;
}
/* line 173, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-message > a {
  text-decoration: none;
  color: inherit;
}
/* line 178, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-message {
  padding: 15px 20px;
}
/* line 182, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-message .media-body {
  display: block;
  width: auto;
}
/* line 187, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .sidebar-message .message-avatar {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
/* line 193, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/sidebar.scss */
.sidebar-container .setings-item {
  padding: 15px 20px;
  border-bottom: 1px solid #e7eaec;
}
