@charset "UTF-8";
/*  SKIN 1 - INSPINIA - Responsive Admin Theme
 *  NAME   - Blue light
 */
/* line 15, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 19, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 23, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 27, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .spin-icon {
  background: #0e9aef !important;
}

/* line 31, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  background-color: #0e9aef;
  background-image: url("patterns/header-profile-skin-1.png");
}

/* line 36, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1.mini-navbar .nav-second-level {
  background: #3e495f;
}

/* line 40, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .breadcrumb {
  background: transparent;
}

/* line 44, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .page-heading {
  border: none;
}

/* line 48, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  background: #3a4459;
}

/* line 52, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li > a {
  color: #9ea6b9;
}

/* line 56, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 ul.nav-second-level {
  background-color: inherit;
}

/* line 60, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active > a {
  color: #fff;
}

/* line 64, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-minimalize {
  background: #0e9aef;
  border-color: #0e9aef;
}

/* line 69, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
body.skin-1 {
  background: #3e495f;
}

/* line 73, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-static-top {
  background: #ffffff;
}

/* line 77, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 84, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-1 .navbar-fixed-top {
  background: #fff;
}

/* line 88, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .wrapper-content {
  padding: 30px 15px;
}

/* line 92, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 #page-wrapper {
  background: #f4f6fa;
}

/* line 96, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-title, .skin-1 .ibox-content {
  border-width: 1px;
}

/* line 100, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 104, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  border: none;
}

/* line 108, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 112, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}

/* line 117, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}

/* line 122, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .profile-element {
  text-align: center;
}

/* line 126, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .img-circle {
  border-radius: 5px;
}

/* line 130, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-default .nav > li > a:hover, .skin-1 .navbar-default .nav > li > a:focus {
  background: #3a4459;
  color: #fff;
}

/* line 135, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 139, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *
 *   SKIN 2 - INSPINIA - Responsive Admin Theme
 *   NAME - Inspinia Ultra
 *
*/
/* line 157, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
body.skin-2 {
  color: #565758 !important;
}

/* line 161, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .minimalize-styl-2 {
  margin: 14px 5px 5px 25px;
}

/* line 165, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-top-links li:last-child {
  margin-right: 25px;
}

/* line 169, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .spin-icon {
  background: #23c6c8 !important;
}

/* line 173, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  background-color: #23c6c8;
  background-image: url("patterns/header-profile-skin-2.png");
}

/* line 178, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-second-level {
  background: #ededed;
}

/* line 182, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .breadcrumb {
  background: transparent;
}

/* line 186, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 190, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .page-heading {
  border: none;
  background: rgba(255, 255, 255, 0.7);
}

/* line 195, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 ul.nav-second-level {
  background-color: inherit;
}

/* line 199, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  background: #e0e0e0;
}

/* line 203, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .logo-element {
  padding: 17px 0;
}

/* line 207, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li > a, .skin-2 .welcome-message {
  color: #edf6ff;
}

/* line 211, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search::-moz-placeholder {
  color: #edf6ff;
  opacity: 0.5;
}

/* line 216, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 #side-menu > li > a, .skin-2 .nav.nav-second-level > li > a {
  color: #586b7d;
}

/* line 220, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active > a {
  color: #213a53;
}

/* line 224, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-header {
  background: #213a53;
}

/* line 228, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-minimalize {
  background: #23c6c8;
  border-color: #23c6c8;
}

/* line 233, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .border-bottom {
  border-bottom: none !important;
}

/* line 237, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search {
  color: #fff;
}

/* line 241, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
body.skin-2 #wrapper {
  background-color: #ededed;
}

/* line 245, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-static-top {
  background: #213a53;
}

/* line 249, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-2 .navbar-fixed-top {
  background: #213a53;
  border-bottom: none !important;
}

/* line 254, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  padding: 30px 25px 30px 25px;
}

/* line 258, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashboard-header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 20px 30px;
}

/* line 265, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .wrapper-content {
  padding: 30px 15px;
}

/* line 269, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashoard-1 .wrapper-content {
  padding: 0 30px 25px 30px;
}

/* line 273, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  margin-bottom: 1px;
}

/* line 279, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
}

/* line 284, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 #page-wrapper {
  background: #f6f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -o-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: radial-gradient(ellipse at center, #f6f6f6 20%, #d5d5d5 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#d5d5d5)";
}

/* line 293, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title, .skin-2 .ibox-content {
  border-width: 1px;
}

/* line 297, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 301, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  border: none;
}

/* line 305, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle {
  color: #edf6ff;
  margin-top: 10px;
}

/* line 310, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle .text-muted {
  color: #edf6ff;
  opacity: 0.8;
}

/* line 315, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .img-circle {
  border-radius: 10px;
}

/* line 319, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.navbar-top-links > li > a:hover, .skin-2 .nav.navbar-top-links > li > a:focus {
  background: #1a2d41;
}

/* line 323, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-default .nav > li > a:hover, .skin-2 .navbar-default .nav > li > a:focus {
  background: #e0e0e0;
  color: #213a53;
}

/* line 328, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 332, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *
 *   SKIN 3 - INSPINIA - Responsive Admin Theme
 *   NAME - Yellow/purple
 *
*/
/* line 350, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 354, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 358, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 362, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .spin-icon {
  background: #ecba52 !important;
}

/* line 366, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
body.boxed-layout.skin-3 #wrapper {
  background: #3e2c42;
}

/* line 370, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  background-color: #ecba52;
  background-image: url("patterns/header-profile-skin-3.png");
}

/* line 375, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3.mini-navbar .nav-second-level {
  background: #3e2c42;
}

/* line 379, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .breadcrumb {
  background: transparent;
}

/* line 383, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .page-heading {
  border: none;
}

/* line 387, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 ul.nav-second-level {
  background-color: inherit;
}

/* line 391, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  background: #38283c;
}

/* line 395, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-3 .navbar-fixed-top {
  background: #fff;
}

/* line 399, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li > a {
  color: #948b96;
}

/* line 403, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active > a {
  color: #fff;
}

/* line 407, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-minimalize {
  background: #ecba52;
  border-color: #ecba52;
}

/* line 412, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
body.skin-3 {
  background: #3e2c42;
}

/* line 416, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-static-top {
  background: #ffffff;
}

/* line 420, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 427, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .wrapper-content {
  padding: 30px 15px;
}

/* line 431, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 #page-wrapper {
  background: #f4f6fa;
}

/* line 435, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-title, .skin-3 .ibox-content {
  border-width: 1px;
}

/* line 439, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 443, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  border: none;
}

/* line 447, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 451, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}

/* line 456, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}

/* line 461, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .profile-element {
  text-align: center;
}

/* line 465, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .img-circle {
  border-radius: 5px;
}

/* line 469, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-default .nav > li > a:hover, .skin-3 .navbar-default .nav > li > a:focus {
  background: #38283c;
  color: #fff;
}

/* line 474, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 478, /home/leetsworker/Документи/My_RP/WhitePark with Inspinia with unicorn/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active {
  background: transparent;
}
