@charset "UTF-8";
/*   This is style for skin config
 *   Use only in demo theme
 */
/* line 6, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.theme-config {
  position: absolute;
  top: 90px;
  right: 0;
  overflow: hidden;
}

/* line 12, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.theme-config-box {
  margin-right: -220px;
  position: relative;
  z-index: 2000;
  transition-duration: 0.8s;
}

/* line 18, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.theme-config-box.show {
  margin-right: 0;
}

/* line 21, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.spin-icon {
  background: #1ab394;
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 40px;
  color: #fff;
  cursor: pointer;
}

/* line 33, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.skin-settings {
  width: 220px;
  margin-left: 40px;
  background: #f3f3f4;
}

/* line 38, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.skin-settings .title {
  background: #efefef;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
}

/* line 47, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.setings-item {
  padding: 10px 30px;
}

/* line 50, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.setings-item.skin {
  text-align: center;
}

/* line 53, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.setings-item .switch {
  float: right;
}

/* line 56, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.skin-name a {
  text-transform: uppercase;
}

/* line 59, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.setings-item a {
  color: #fff;
}

/* line 62, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.default-skin, .blue-skin, .ultra-skin, .yellow-skin {
  text-align: center;
}

/* line 65, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.default-skin {
  font-weight: 600;
  background: #283A49;
}

/* line 69, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.default-skin:hover {
  background: #1e2e3d;
}

/* line 72, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.blue-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-1.png") repeat scroll 0 0;
}

/* line 76, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.blue-skin:hover {
  background: #0d8ddb;
}

/* line 79, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.yellow-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-3.png") repeat scroll 0 100%;
}

/* line 83, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.yellow-skin:hover {
  background: #ce8735;
}

/* line 86, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.ultra-skin {
  padding: 20px 10px;
  font-weight: 600;
  background: url("patterns/3.png") repeat scroll 0 0;
}

/* line 91, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/theme-config.scss */
.ultra-skin:hover {
  background: url("patterns/4.png") repeat scroll 0 0;
}
