@charset "UTF-8";
/* line 1, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation #page-wrapper {
  margin-left: 0;
}

/* line 6, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-nav .dropdown-menu > .active > a {
  background: white;
  color: #1ab394;
  font-weight: bold;
}

/* line 12, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.white-bg .navbar-fixed-top, .white-bg .navbar-static-top {
  background: #fff;
}

/* line 16, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar {
  margin-bottom: 0;
}

/* line 20, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .nav > li > a {
  padding: 15px 20px;
  color: #676a6c;
}

/* line 25, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus {
  background: #fff;
  color: #1ab394;
}

/* line 30, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar .nav > li.active {
  background: #fff;
  border: none;
}

/* line 35, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .nav > li.active > a {
  color: #1ab394;
}

/* line 39, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-right {
  margin-right: 10px;
}

/* line 43, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-nav .dropdown-menu {
  box-shadow: none;
  border: 1px solid #e7eaec;
}

/* line 48, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .dropdown-menu > li > a {
  margin: 0;
  padding: 7px 20px;
}

/* line 53, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.navbar .dropdown-menu {
  margin-top: 0;
}

/* line 57, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-brand {
  background: #1ab394;
  color: #fff;
  padding: 15px 25px;
}

/* line 63, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-top-links li:last-child {
  margin-right: 0;
}

/* line 67, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation.mini-navbar #page-wrapper,
.top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper,
.mini-navbar .top-navigation #page-wrapper,
.body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper,
.canvas-menu #page-wrapper {
  margin: 0;
}

/* line 75, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation.fixed-nav #wrapper, .fixed-nav #wrapper.top-navigation {
  margin-top: 50px;
}

/* line 79, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .footer.fixed {
  margin-left: 0 !important;
}

/* line 83, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .wrapper.wrapper-content {
  padding: 40px;
}

/* line 87, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation.body-small .wrapper.wrapper-content, .body-small .top-navigation .wrapper.wrapper-content {
  padding: 40px 0 40px 0;
}

/* line 91, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.navbar-toggle {
  background-color: #1ab394;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}

/* line 98, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-nav .open .dropdown-menu > li > a, .top-navigation .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 10px 15px 10px 20px;
}

@media (max-width: 768px) {
  /* line 103, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
  .top-navigation .navbar-header {
    display: block;
    float: none;
  }
}
/* line 109, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
.menu-visible-lg, .menu-visible-md {
  display: none !important;
}

@media (min-width: 1200px) {
  /* line 114, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-lg {
    display: block !important;
  }
}
@media (min-width: 992px) {
  /* line 120, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-md {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 126, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-md {
    display: block !important;
  }

  /* line 130, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-lg {
    display: block !important;
  }
}
